<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>hamzah</key>
    <string>hamzah.glif</string>
    <key>alif-hamzahAtas</key>
    <string>alif-hamzahA_tas.glif</string>
    <key>uni0624</key>
    <string>uni0624.glif</string>
    <key>alif-hamzahBawah</key>
    <string>alif-hamzahB_awah.glif</string>
    <key>uni0626</key>
    <string>uni0626.glif</string>
    <key>alif</key>
    <string>alif.glif</string>
    <key>ha_pedas</key>
    <string>ha_pedas.glif</string>
    <key>dal</key>
    <string>dal.glif</string>
    <key>ra</key>
    <string>ra.glif</string>
    <key>sin</key>
    <string>sin.glif</string>
    <key>sod</key>
    <string>sod.glif</string>
    <key>to</key>
    <string>to.glif</string>
    <key>ain</key>
    <string>ain.glif</string>
    <key>kasyida</key>
    <string>kasyida.glif</string>
    <key>lam</key>
    <string>lam.glif</string>
    <key>mim</key>
    <string>mim.glif</string>
    <key>ha_bulat</key>
    <string>ha_bulat.glif</string>
    <key>wau</key>
    <string>wau.glif</string>
    <key>ye_maksurah</key>
    <string>ye_maksurah.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>hamzahTigaSuku</key>
    <string>hamzah_tigaS_uku.glif</string>
    <key>kaf</key>
    <string>kaf.glif</string>
    <key>uni0639.fina</key>
    <string>uni0639.fina.glif</string>
    <key>uni0639.init</key>
    <string>uni0639.init.glif</string>
    <key>uni0639.medi</key>
    <string>uni0639.medi.glif</string>
    <key>alif.fina</key>
    <string>alif.fina.glif</string>
    <key>uni062F.fina</key>
    <string>uni062F_.fina.glif</string>
    <key>uni062F.isol</key>
    <string>uni062F_.isol.glif</string>
    <key>ha_bulat.fina</key>
    <string>ha_bulat.fina.glif</string>
    <key>ha_bulat.init</key>
    <string>ha_bulat.init.glif</string>
    <key>ha_bulat.medi</key>
    <string>ha_bulat.medi.glif</string>
    <key>ha_pedas.fina</key>
    <string>uni062D_.fina.glif</string>
    <key>ha_pedas.init</key>
    <string>uni062D_.init.glif</string>
    <key>ha_pedas.medi</key>
    <string>uni062D_.medi.glif</string>
    <key>uni06A9.fina</key>
    <string>uni06A_9.fina.glif</string>
    <key>uni06A9.init</key>
    <string>uni06A_9.init.glif</string>
    <key>uni06A9.medi</key>
    <string>uni06A_9.medi.glif</string>
    <key>lam.fina</key>
    <string>lam.fina.glif</string>
    <key>lam.init</key>
    <string>lam.init.glif</string>
    <key>lam.medi</key>
    <string>lam.medi.glif</string>
    <key>alif.fina_lamalif</key>
    <string>alif.fina_lamalif.glif</string>
    <key>lam.medi_lamalif</key>
    <string>lam.medi_lamalif.glif</string>
    <key>lam.init_lamalifisol</key>
    <string>lam.init_lamalifisol.glif</string>
    <key>alif.fina_lamalifisol</key>
    <string>alif.fina_lamalifisol.glif</string>
    <key>uniFEF8</key>
    <string>uniF_E_F_8.glif</string>
    <key>lamalifhamzahatas.isol</key>
    <string>lamalifhamzahatas.isol.glif</string>
    <key>uniFEF9</key>
    <string>uniF_E_F_9.glif</string>
    <key>uniFEFA</key>
    <string>uniF_E_F_A_.glif</string>
    <key>lamalifhamzahbawah.isol</key>
    <string>lamalifhamzahbawah.isol.glif</string>
    <key>mim.fina</key>
    <string>mim.fina.glif</string>
    <key>mim.medi</key>
    <string>mim.medi.glif</string>
    <key>mim.init</key>
    <string>mim.init.glif</string>
    <key>uni0631.fina</key>
    <string>uni0631.fina.glif</string>
    <key>sod.fina</key>
    <string>uni0635.fina.glif</string>
    <key>sod.init</key>
    <string>uni0635.init.glif</string>
    <key>sod.medi</key>
    <string>uni0635.medi.glif</string>
    <key>uni0633.fina</key>
    <string>uni0633.fina.glif</string>
    <key>uni0633.init</key>
    <string>uni0633.init.glif</string>
    <key>uni0633.medi</key>
    <string>uni0633.medi.glif</string>
    <key>uni0637.fina</key>
    <string>uni0637.fina.glif</string>
    <key>uni0637.init</key>
    <string>uni0637.init.glif</string>
    <key>uni0637.medi</key>
    <string>uni0637.medi.glif</string>
    <key>uni0648.fina</key>
    <string>uni0648.fina.glif</string>
    <key>uni0649.fina</key>
    <string>uni0649.fina.glif</string>
    <key>uni066E</key>
    <string>uni066E_.glif</string>
    <key>uni066E.fina</key>
    <string>uni066E_.fina.glif</string>
    <key>uni066E.init</key>
    <string>uni066E_.init.glif</string>
    <key>uni066E.medi</key>
    <string>uni066E_.medi.glif</string>
    <key>uni06A1</key>
    <string>uni06A_1.glif</string>
    <key>uni06A1.fina</key>
    <string>uni06A_1.fina.glif</string>
    <key>uni06A1.init</key>
    <string>uni06A_1.init.glif</string>
    <key>uni06A1.medi</key>
    <string>uni06A_1.medi.glif</string>
    <key>uni06BA</key>
    <string>uni06B_A_.glif</string>
    <key>uni06BA.fina</key>
    <string>uni06B_A_.fina.glif</string>
    <key>uni066F</key>
    <string>uni066F_.glif</string>
    <key>uni066F.fina</key>
    <string>uni066F_.fina.glif</string>
    <key>ttx1xb</key>
    <string>ttx1xb.glif</string>
    <key>ttx2xb</key>
    <string>ttx2xb.glif</string>
    <key>ttx3xb</key>
    <string>ttx3xb.glif</string>
    <key>ttx4xb</key>
    <string>ttx4xb.glif</string>
    <key>ttx2Axb</key>
    <string>ttx2A_xb.glif</string>
    <key>ttx3Axb</key>
    <string>ttx3A_xb.glif</string>
    <key>uni0762</key>
    <string>uni0762.glif</string>
    <key>hamzahKecilAtas</key>
    <string>hamzahK_ecilA_tas.glif</string>
    <key>hamzahKecilBawah</key>
    <string>hamzahK_ecilB_awah.glif</string>
    <key>NameMe.99</key>
    <string>N_ameM_e.99.glif</string>
    <key>ttx1xa</key>
    <string>ttx1xa.glif</string>
    <key>ttx2xa</key>
    <string>ttx2xa.glif</string>
    <key>ttx3xa</key>
    <string>ttx3xa.glif</string>
    <key>ttx4xa</key>
    <string>ttx4xa.glif</string>
    <key>ttx2Axa</key>
    <string>ttx2A_xa.glif</string>
    <key>ttx3Axa</key>
    <string>ttx3A_xa.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>toKecilBawah</key>
    <string>toK_ecilB_awah.glif</string>
    <key>toKecilAtas</key>
    <string>toK_ecilA_tas.glif</string>
    <key>uni06A1.ss01</key>
    <string>uni06A_1.ss01.glif</string>
    <key>uni06A1.ss01.fina</key>
    <string>uni06A_1.ss01.fina.glif</string>
    <key>uni06A1.ss01.init</key>
    <string>uni06A_1.ss01.init.glif</string>
    <key>uni06A1.ss01.medi</key>
    <string>uni06A_1.ss01.medi.glif</string>
    <key>mim.ss01</key>
    <string>mim.ss01.glif</string>
    <key>mim.ss01.fina</key>
    <string>mim.ss01.fina.glif</string>
    <key>mim.ss01.medi</key>
    <string>mim.ss01.medi.glif</string>
    <key>mim.ss01.init</key>
    <string>mim.ss01.init.glif</string>
    <key>uni0647.ss01</key>
    <string>uni0647.ss01.glif</string>
    <key>uni0647.ss01.fina</key>
    <string>uni0647.ss01.fina.glif</string>
    <key>uni0647.ss01.medi</key>
    <string>uni0647.ss01.medi.glif</string>
    <key>uni0647.ss01.init</key>
    <string>uni0647.ss01.init.glif</string>
    <key>uni0648.ss01</key>
    <string>uni0648.ss01.glif</string>
    <key>uni0648.ss01.fina</key>
    <string>uni0648.ss01.fina.glif</string>
    <key>uni0639.ss01.fina</key>
    <string>uni0639.ss01.fina.glif</string>
    <key>uni0639.ss01.medi</key>
    <string>uni0639.ss01.medi.glif</string>
    <key>uni066F.ss01</key>
    <string>uni066F_.ss01.glif</string>
    <key>uni066F.ss01.fina</key>
    <string>uni066F_.ss01.fina.glif</string>
    <key>uni066F.ss01.medi</key>
    <string>uni066F_.ss01.medi.glif</string>
    <key>uni066F.ss01.init</key>
    <string>uni066F_.ss01.init.glif</string>
    <key>cincinKecil</key>
    <string>cincinK_ecil.glif</string>
    <key>tandaVAtas</key>
    <string>tandaV_A_tas.glif</string>
    <key>tandaVBawah</key>
    <string>tandaV_B_awah.glif</string>
    <key>alif_khanjariah</key>
    <string>alif_khanjariah.glif</string>
    <key>tasydid</key>
    <string>tasydid.glif</string>
    <key>maddah</key>
    <string>maddah.glif</string>
    <key>uni0686</key>
    <string>uni0686.glif</string>
    <key>uni063B</key>
    <string>uni063B_.glif</string>
    <key>uni0763</key>
    <string>uni0763.glif</string>
    <key>uni0685</key>
    <string>uni0685.glif</string>
    <key>uni0764</key>
    <string>uni0764.glif</string>
    <key>uni063C</key>
    <string>uni063C_.glif</string>
    <key>uni088D</key>
    <string>uni088D_.glif</string>
    <key>ba</key>
    <string>ba.glif</string>
    <key>uni062A</key>
    <string>uni062A_.glif</string>
    <key>uni062B</key>
    <string>uni062B_.glif</string>
    <key>uni0679</key>
    <string>uni0679.glif</string>
    <key>uni067A</key>
    <string>uni067A_.glif</string>
    <key>uni067B</key>
    <string>uni067B_.glif</string>
    <key>uni067C</key>
    <string>uni067C_.glif</string>
    <key>uni067D</key>
    <string>uni067D_.glif</string>
    <key>uni067E</key>
    <string>uni067E_.glif</string>
    <key>uni067F</key>
    <string>uni067F_.glif</string>
    <key>uni0680</key>
    <string>uni0680.glif</string>
    <key>uni0681</key>
    <string>uni0681.glif</string>
    <key>uni0682</key>
    <string>uni0682.glif</string>
    <key>uni0683</key>
    <string>uni0683.glif</string>
    <key>uni0684</key>
    <string>uni0684.glif</string>
    <key>uni0687</key>
    <string>uni0687.glif</string>
    <key>uni0688</key>
    <string>uni0688.glif</string>
    <key>uni0689</key>
    <string>uni0689.glif</string>
    <key>uni068A</key>
    <string>uni068A_.glif</string>
    <key>uni068B</key>
    <string>uni068B_.glif</string>
    <key>uni068C</key>
    <string>uni068C_.glif</string>
    <key>uni068D</key>
    <string>uni068D_.glif</string>
    <key>uni068E</key>
    <string>uni068E_.glif</string>
    <key>uni068F</key>
    <string>uni068F_.glif</string>
    <key>uni0690</key>
    <string>uni0690.glif</string>
    <key>uni0691</key>
    <string>uni0691.glif</string>
    <key>uni0692</key>
    <string>uni0692.glif</string>
    <key>uni0693</key>
    <string>uni0693.glif</string>
    <key>uni0694</key>
    <string>uni0694.glif</string>
    <key>uni0695</key>
    <string>uni0695.glif</string>
    <key>uni0696</key>
    <string>uni0696.glif</string>
    <key>uni0697</key>
    <string>uni0697.glif</string>
    <key>uni0698</key>
    <string>uni0698.glif</string>
    <key>uni0699</key>
    <string>uni0699.glif</string>
    <key>uni069A</key>
    <string>uni069A_.glif</string>
    <key>uni069B</key>
    <string>uni069B_.glif</string>
    <key>uni069C</key>
    <string>uni069C_.glif</string>
    <key>uni069D</key>
    <string>uni069D_.glif</string>
    <key>uni069E</key>
    <string>uni069E_.glif</string>
    <key>uni069F</key>
    <string>uni069F_.glif</string>
    <key>nga</key>
    <string>nga.glif</string>
    <key>uni06A2</key>
    <string>uni06A_2.glif</string>
    <key>uni06A3</key>
    <string>uni06A_3.glif</string>
    <key>pa</key>
    <string>pa.glif</string>
    <key>uni06A5</key>
    <string>uni06A_5.glif</string>
    <key>uni06A6</key>
    <string>uni06A_6.glif</string>
    <key>uni06A7</key>
    <string>uni06A_7.glif</string>
    <key>uni06A8</key>
    <string>uni06A_8.glif</string>
    <key>uni06AB</key>
    <string>uni06A_B_.glif</string>
    <key>uni06B0</key>
    <string>uni06B_0.glif</string>
    <key>uni06B1</key>
    <string>uni06B_1.glif</string>
    <key>uni06B2</key>
    <string>uni06B_2.glif</string>
    <key>uni06B3</key>
    <string>uni06B_3.glif</string>
    <key>uni06B4</key>
    <string>uni06B_4.glif</string>
    <key>uni06B5</key>
    <string>uni06B_5.glif</string>
    <key>uni06B6</key>
    <string>uni06B_6.glif</string>
    <key>uni06B7</key>
    <string>uni06B_7.glif</string>
    <key>uni06B8</key>
    <string>uni06B_8.glif</string>
    <key>uni06B9</key>
    <string>uni06B_9.glif</string>
    <key>uni06BB</key>
    <string>uni06B_B_.glif</string>
    <key>uni06BC</key>
    <string>uni06B_C_.glif</string>
    <key>nya</key>
    <string>nya.glif</string>
    <key>uni06BF</key>
    <string>uni06B_F_.glif</string>
    <key>ta_bulat</key>
    <string>ta_bulat.glif</string>
    <key>jim</key>
    <string>jim.glif</string>
    <key>kha</key>
    <string>kha.glif</string>
    <key>zal</key>
    <string>zal.glif</string>
    <key>zai</key>
    <string>zai.glif</string>
    <key>syin</key>
    <string>syin.glif</string>
    <key>dod</key>
    <string>dod.glif</string>
    <key>za</key>
    <string>za.glif</string>
    <key>ghain</key>
    <string>ghain.glif</string>
    <key>fa</key>
    <string>fa.glif</string>
    <key>qaf</key>
    <string>qaf.glif</string>
    <key>nun</key>
    <string>nun.glif</string>
    <key>alif.1</key>
    <string>alif.1.glif</string>
    <key>alif.2</key>
    <string>alif.2.glif</string>
    <key>uni066E.init1</key>
    <string>uni066E_.init1.glif</string>
    <key>alif.fina.1</key>
    <string>alif.fina.1.glif</string>
    <key>alif.fina.2</key>
    <string>alif.fina.2.glif</string>
    <key>lillah</key>
    <string>lillah.glif</string>
    <key>ha_bulat.isol</key>
    <string>ha_bulat.isol.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>ZWNJ</key>
    <string>Z_W_N_J_.glif</string>
    <key>kaf.arab</key>
    <string>kaf.arab.glif</string>
    <key>kaf.arab.fina</key>
    <string>kaf.arab.fina.glif</string>
    <key>kaf.init_pndk</key>
    <string>kaf.init_pndk.glif</string>
    <key>kaf.init_pnjg</key>
    <string>kaf.init_pnjg.glif</string>
    <key>kaf.medi_pndk</key>
    <string>kaf.medi_pndk.glif</string>
    <key>kaf.medi_pnjg</key>
    <string>kaf.medi_pnjg.glif</string>
    <key>padam</key>
    <string>padam.glif</string>
    <key>uniFEFB</key>
    <string>uniF_E_F_B_.glif</string>
    <key>uniFEFC</key>
    <string>uniF_E_F_C_.glif</string>
    <key>kaf.swsh</key>
    <string>kaf.swsh.glif</string>
    <key>kaf.swsh.fina</key>
    <string>kaf.swsh.fina.glif</string>
    <key>kaf.swsh.medi</key>
    <string>kaf.swsh.medi.glif</string>
    <key>kaf.swsh.init</key>
    <string>kaf.swsh.init.glif</string>
    <key>dua.arab_naik</key>
    <string>dua.arab_naik.glif</string>
    <key>NameMe.7</key>
    <string>N_ameM_e.7.glif</string>
    <key>NameMe.97</key>
    <string>N_ameM_e.97.glif</string>
    <key>va</key>
    <string>va.glif</string>
    <key>NameMe.125</key>
    <string>N_ameM_e.125.glif</string>
    <key>NameMe.126</key>
    <string>N_ameM_e.126.glif</string>
    <key>NameMe.129</key>
    <string>N_ameM_e.129.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>satu.arab</key>
    <string>satu.arab.glif</string>
    <key>dua.arab</key>
    <string>dua.arab.glif</string>
    <key>tiga.arab</key>
    <string>tiga.arab.glif</string>
    <key>empat.arab</key>
    <string>empat.arab.glif</string>
    <key>lima.arab</key>
    <string>lima.arab.glif</string>
    <key>enam.arab</key>
    <string>enam.arab.glif</string>
    <key>tujuh.arab</key>
    <string>tujuh.arab.glif</string>
    <key>lapan.arab</key>
    <string>lapan.arab.glif</string>
    <key>sembilan.arab</key>
    <string>sembilan.arab.glif</string>
    <key>kasyida.0</key>
    <string>kasyida.0.glif</string>
    <key>kasyida.1</key>
    <string>kasyida.1.glif</string>
    <key>kasyida.1.1</key>
    <string>kasyida.1.1.glif</string>
    <key>uni066E.medi.1</key>
    <string>uni066E_.medi.1.glif</string>
    <key>uni066E.init.2.1</key>
    <string>uni066E_.init.2.1.glif</string>
    <key>uni066E.init.2.2</key>
    <string>uni066E_.init.2.2.glif</string>
    <key>uni066E.init.2.3</key>
    <string>uni066E_.init.2.3.glif</string>
    <key>uni066E.init.2.4</key>
    <string>uni066E_.init.2.4.glif</string>
    <key>uni066E.medi.2.1</key>
    <string>uni066E_.medi.2.1.glif</string>
    <key>uni066E.medi.2.2</key>
    <string>uni066E_.medi.2.2.glif</string>
    <key>kasyida_hapedas.fina</key>
    <string>kasyida_hapedas.fina.glif</string>
    <key>kasyida_hapedas.medi</key>
    <string>kasyida_hapedas.medi.glif</string>
    <key>hamzahKecilLamAlif.ccmp</key>
    <string>hamzahK_ecilL_amA_lif.glif</string>
    <key>lamAlif_hamzahKecil</key>
    <string>lamA_lif_hamzahK_ecil.glif</string>
  </dict>
</plist>
